// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-book{
  margin-bottom: 10px;
}

.form-area{
  margin-top: 30px;
}


.table-head-item{
  padding: 0 5px 0;
}

.table-body-item{
  padding: 0 5px 5px;
}

.show-item{
  margin: 33px;
}

.edit-item{
  margin-bottom: 10px;
}