// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-book{
  margin-bottom: 10px;
}

.form-area{
  margin-top: 30px;
}


.table-head-item{
  padding: 0 5px 0;
}

.table-body-item{
  padding: 0 5px 5px;
}

.error-box{
  width: 450px;
  border: 2px solid #c00;
  margin: 10px 0 10px;
}

.error-title{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  background-color: #c00;
  color: #fff;
}

ul{
  list-style-position: inside;
  padding: 20px;
}

.show-item{
  margin: 33px;
}

.edit-item{
  margin-bottom: 10px;
}